/* Google Fonts - Inter, Macodondo */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables  */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* Blue */
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --highlight-color-light: #7a9fc2;
}

/* Global Styles */

body {
    font-family: var(--primary-font);
}


h2 {
    margin-bottom: 2rem;
}

h1, h2 {
    text-transform: uppercase;
}

h1,h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.section {
    padding-top: 4rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: #fff;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
}

.custon-button-outline {
    border: 3px solid var(--highlight-color);
    background-color: #fff;
    color: var(--highlight-color);
    padding: 7px 25px;
}

.custon-button-outline:hover {
    background-color: var(--highlight-color);
    color: #fff;
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header */
header .lead {
    font-family: var(--secondary-font);
}

/* Services */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* Events */

.discount {
    background-color: var(--highlight-color);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
}

/* New Games */
#new-games .card, #fav-games .card {
    border: none;
}

#new-games, #new-games *, #fav-games, #fav-games * {
    border-radius: 0px;
}

#contact {
    background-color: var(--primary-color);
    color: #fff;
    padding-bottom: 3rem;

}

#contact h2 {
    color: #fff;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}

@media screen and (min-width: 992px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}

@media screen and (min-width: 1200px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 218px;
    }
}

@media screen and (min-width: 1400px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 194px;
    }
}